@model IEnumerable<WebApplication2.Models.Theatrecrud>

@{
    ViewBag.Title = "Home";
}

<head>

    @Styles.Render("~/Content/css")

</head>

<h2>Book My Show</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
    </p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TheatreName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th></th>
    </tr>
    <tr>
        <td>INOX</td>
        <td>Mumbai</td>
        <td>
            <form action="/Hom" method="get">
                <button class="btn btn-success" type="submit" style="float: right" formaction="/Hom/GetBlob">Book Ticket</button>
            </form>
        </td>
        
        
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TheatreName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                <button type="button" class="btn btn-success">Book Ticket</button>

                @*@Html.ActionLink("Edit", "Edit", new { id = item.TheaterId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.TheaterId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.TheaterId })*@
            </td>
        </tr>
    }

</table>